body {
    background-image: linear-gradient(to right, #0073aa, #8000aa);
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}


/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {

    .container {
        margin: 160px auto;
        max-width: fit-content;
        box-shadow: 5px 8px 16px 5px rgba(196, 196, 196, 0.37);
    }

    #create_profile {
        display: flex;
        flex-direction: row;
    }

    p {
        color: white;
        font-size: 20px;
    }

    #uploadInput {
        color: #FFFFFF;
    }

    .div1 {
        width: fit-content;
        padding: 10px;
    }

    .upload{
        width: 100px;
        position: relative;
        margin: auto;
      }
      
      .upload img{
        border-radius: 50%;
        border: 6px solid #eaeaea;
      }
      
      .upload .round{
        position: absolute;
        bottom: 0;
        right: 0;
        background: #00B4FF;
        width: 32px;
        height: 32px;
        line-height: 33px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
      }
      
      .upload .round input[type = "file"]{
        position: absolute;
        transform: scale(2);
        opacity: 0;
      }
      
      input[type=file]::-webkit-file-upload-button{
          cursor: pointer;
      }

    .createProfileTitle {
        font-size: 50px;
        margin: auto;
    }

    .uploadIMG {
        display: flex;
    }

    #uploadInput:hover {
        cursor: pointer;
    }

    .form-check-label {
        cursor: pointer;
        color: #fff;
    }


    .div2 {
        width: fit-content;
        padding: 10px;
    }

    .date {
        display: flex;
    }

    .custom-shape-divider-bottom-1690684253 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1690684253 svg {
        position: relative;
        display: block;
        width: calc(236% + 1.3px);
        height: 190px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1690684253 .shape-fill {
        fill: #FFFFFF;
    }

    #btnLogin {
        width: 140px;
        height: 50px;
        background-image: linear-gradient(to right, #0073aa, #8000aa);
        color: #fff;
        border-radius: 15px;
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }


}


/*============================ LAPTOP ===========================*/
@media (max-width: 1366px) {

    .container {
        margin: 70px auto;
        max-width: fit-content;
        box-shadow: 5px 8px 16px 5px rgba(196, 196, 196, 0.37);
    }

    hr {
        margin: 10px;
    }

    #uploadInput {
        font-size: 10px;
        color: #FFFFFF;
    }

    #address,
    #companyName,
    #workTitle,
    #dateStarted,
    #dateEnded,
    #comment {
        font-size: 10px;
    }

    label {
        font-size: 10px;
    }

    .form-floating>.form-control,
    .form-floating>.form-control-plaintext,
    .form-floating>.form-select {
        height: calc(1rem + calc(var(--bs-border-width) * 2));
        min-height: calc(2.5rem + calc(var(--bs-border-width) * 2));
        line-height: 1.25;
    }

    #create_profile {
        display: flex;
        flex-direction: row;
    }

    p {
        color: white;
        font-size: 15px;
    }

    .div1 {
        width: fit-content;
        padding: 0 10px 10px;
    }

    .createProfileTitle {
        font-size: 30px;
    }

    #uploadedImage {
        margin: 15px;
        height: 90px;
    }

    .custom-file-input {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .actual-file-input {
        position: absolute;
        left: 100px;
        top: 500px;
        opacity: 0;
        cursor: pointer;
    }

    .custom-file-label {
        display: inline-block;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

    #upIMG {
        height: 30px;
        margin-top: 100px;
        margin-left: -57px;
    }

    #uploadInput:hover {
        cursor: pointer;
    }

    .form-check-label:hover {
        cursor: pointer;
    }

    .div2 {
        width: fit-content;
        padding: 0 10px 10px;
    }

    .date {
        display: flex;
    }

    .custom-shape-divider-bottom-1690684253 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1690684253 svg {
        position: relative;
        display: block;
        width: calc(236% + 1.3px);
        height: 140px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1690684253 .shape-fill {
        fill: #FFFFFF;
    }

    .btn {
        font-size: 10px;
    }

    #btnLogin {
        width: 140px;
        height: 50px;
        background-image: linear-gradient(to right, #0073aa, #8000aa);
        color: #fff;
        border-radius: 15px;
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }

}

/*============================ LAPTOP (1311) ===========================*/
@media (max-width: 1311px) {
    .container {
        margin: 50px auto;
        max-width: fit-content;
        box-shadow: 5px 8px 16px 5px rgba(196, 196, 196, 0.37);
    }

    hr {
        margin: 10px;
    }

    #uploadInput {
        font-size: 10px;
        color: #FFFFFF;
    }

    #address,
    #companyName,
    #workTitle,
    #dateStarted,
    #dateEnded,
    #comment {
        font-size: 10px;
    }

    label {
        font-size: 10px;
    }

    .form-floating>.form-control,
    .form-floating>.form-control-plaintext,
    .form-floating>.form-select {
        height: calc(1rem + calc(var(--bs-border-width) * 2));
        min-height: calc(2.5rem + calc(var(--bs-border-width) * 2));
        line-height: 1.25;
    }

    #create_profile {
        display: flex;
        flex-direction: row;
    }

    p {
        color: white;
        font-size: 15px;
    }

    .div1 {
        width: fit-content;
        padding: 0 10px 10px;
    }

    .custom-file-input {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .actual-file-input {
        position: absolute;
        left: 100px;
        top: 500px;
        opacity: 0;
        cursor: pointer;
    }

    .custom-file-label {
        display: inline-block;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

    #upIMG {
        height: 30px;
        margin-top: 100px;
        margin-left: -57px;
    }

    .createProfileTitle {
        font-size: 30px;
    }

    #uploadedImage {
        margin: 0px;
        height: 90px;
        border-radius: 50%;
    }

    #uploadInput:hover {
        cursor: pointer;
    }

    .form-check-label:hover {
        cursor: pointer;
    }

    .div2 {
        width: fit-content;
        padding: 0 10px 10px;
    }

    .date {
        display: flex;
    }

    .custom-shape-divider-bottom-1690684253 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1690684253 svg {
        position: relative;
        display: block;
        width: calc(236% + 1.3px);
        height: 100px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1690684253 .shape-fill {
        fill: #FFFFFF;
    }

    .btn {
        font-size: 10px;
    }

    #btnLogin {
        width: 140px;
        height: 50px;
        background-image: linear-gradient(to right, #0073aa, #8000aa);
        color: #fff;
        border-radius: 15px;
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }


}

/*============================ large  ===========================*/
@media (max-width: 992px) {}

/*============================ medium  ===========================*/
@media (max-width: 768px) {}


/*============================ small  ===========================*/
@media (max-width: 576px) {

    .container {
        margin: 30px auto;
        width: 100%;
    }

    #create_profile {
        display: block;
        width: 90%;
        /* margin: 20px; */
    }

    .div1 {
        width: 350px;
    }

    .div2 {
        width: 350px;
    }

    .uploadIMG {
        justify-content: center;
    }

    

    .custom-shape-divider-bottom-1690684253 {
        display: none;
    }

}