.container {
    margin-top: 0;
}

.navbar {
    background-color: #0073aa;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
}


#mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
}

.errorPageImg {
    max-width: 200px;
    margin: 20px auto 20px;
}

.errorMsg {
    color: #298ab7;
}

#errorMsg1 {
    font-size: 50px;
}

#errorMsg2 {
    font-size: 25px;
}

.goBackCont {
    position: relative;
    margin-top: 20px;
}

.goBack {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ddd;
    background-color: rgb(70, 185, 32);
    padding: 2px 8px 2px;
    border-radius: 10px;
}

.goBack:hover {
    background-color: rgb(37, 104, 15);
}



.custom-shape-divider-bottom-1687514102 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1687514102 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-1687514102 .shape-fill {
    fill: #0073aa;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}


.footerInfo {
    font-size: 10px;
    color: #f4f4f4
}

i {
    color: #f4f4f4;
    font-size: larger;
    margin-left: 15px;
}

i:hover {
    color: #ff6600;
}

.navbar-brand img {
    max-height: 50px;
}

.text-center {
    font-family: 'roboto', Arial, sans-serif;

}

body {
    background-color: hsla(200, 57%, 85%, 0.275);
    /* background-color: hsla(200, 57%, 85%, 0.275); */
    /* Desired background color for the whole page */
    /* background: linear-gradient(to bottom, #ff0000, #00ff00); */
}


/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {}


/*============================ extra large  ===========================*/
@media (max-width: 1200px) {

    .title {
        color: rgb(20, 237, 38);
        font-size: 80px;
    }

    .aboutInfo {
        color: rgb(201, 201, 201);
        font-size: 25px;
    }

    #mainContainer {
        margin-top: 50px;
    }
}


/*============================ large  ===========================*/
@media (max-width: 992px) {

    #mainContainer {
        margin-top: 50px;
    }
}


/*============================ medium  ===========================*/
@media (max-width: 768px) {}


/*============================ small  ===========================*/
@media (max-width: 576px) {

    #mainContainer {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
        padding: 30px;
        border: 1px solid rgb(255, 255, 255);
        background-color: #ddd;
        border-radius: 5px;
        margin-top: 100px;
        box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
    }

    .errorPageImg {
        max-width: 130px;
        margin: 20px auto 20px;
    }

    .errorMsg {
        color: #298ab7;
    }

    #errorMsg1 {
        font-size: 30px;
    }

    #errorMsg2 {
        font-size: 15px;
    }

    .goBackCont {
        position: relative;
        margin-top: 20px;
    }

    .goBack {
        font-size: 15px;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
        color: #ddd;
        background-color: rgb(70, 185, 32);
        padding: 2px 8px 2px;
        border-radius: 10px;
    }

    .goBack:hover {
        background-color: rgb(37, 104, 15);
    }

    .footerInfo {
        font-size: 10px;
        color: #0073aa
    }

    i {
        color: #0073aa;
        margin-left: 15px;
    }

    .custom-shape-divider-bottom-1687514102 {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 svg {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 .shape-fill {
        fill: #0073aa;
    }

}