#mainContainer {
    margin-top: 100px;
}

.navbar {
    background-color: #0073aa;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
}

#home1,
#about1,
#logout1,
#freeLanceInbox {
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    color: #f4f4f4;
}

#logout1:hover {
    color: #ff6600;
}

#about1:hover {
    color: #ff6600;
}

#home1:hover {
    color: #ff6600;
}

#freeLanceInbox:hover {
    color: #ff6600;
}

.containerFreelanceHome {
    display: flex;
    max-width: auto;
    max-height: auto;
    margin: 0 15%;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ddd;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 100px;
}


.containerFreelanceHome .div1 {
    /* background-color: #0e8cc687; */
    margin: 10px;
    width: 30%;
    max-height: auto;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

#freelanceName {
    margin: 10px auto 0;
}

#freelancerPic {
    max-width: 150px;
    margin: 10px auto 0;
    border-radius: 73px;
}

#verifyFreelanceAcc {
    margin: 10px auto 10px;
    background-color: #079040;
    color: #ddd;
    font-weight: 400;
    border-radius: 10px;
    padding: 3px 10px;
}

#verifyFreelanceAcc:hover {
    background-color: #044c22;
    cursor: pointer;
}

#jobsAndRole1 {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}

.job {
    list-style-type: none;
    /* Remove the default bullet dot */
    font-size: 15px;
    color: #ddd;
}

.flexDiv {
    display: flex;
    margin-left: 20px;
}

.telnoImg,
.addressImg,
.emailImg {
    margin-right: 20px;
}

#viewmore {
    margin: 10px auto 10px;
    background-color: #079040;
    color: #ddd;
    font-weight: 400;
    border-radius: 10px;
    padding: 3px 10px;
}

#viewmore:hover {
    background-color: #044c22;
    cursor: pointer;
}


.editContainer {
    position: relative;
    background-color: lightgray;
    margin-top: 20px;
}

#editFreelanceAcc {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(255, 255, 255);
    padding-right: 3px;
}

#editFreelanceAcc:hover {
    color: #ff6600;
    cursor: pointer;
}

.containerFreelanceHome .div2 {
    /* background-color: #0e8cc687; */
    margin: 10px;
    width: 70%;
    max-height: auto;
    border: 1px solid rgb(255, 255, 255);
}

.containerCatalog{
    width: auto;
    height: 500px;
    overflow: auto;
    padding: 5px;
}

.catalogButtons{
    padding: 5px;
    display: flex;
    justify-content: end;
    margin-right: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.item {
    /* background-color: #0e8cc651; */
    background-color: rgb(157, 157, 157);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
  }
.item:hover{
    background-color: #0074aa95;
}

.catalogTexts{
    margin-left: 5px;
}

.imgWork {
    height: 100px;
    border-radius: 5px;
    background-color: #ffffff;
  }


p {
    color: rgb(220, 220, 220);
    padding: 5px;
}

#checkboxInfo {
    color: rgb(255, 255, 255);
}

.btn {
    padding-left: 20px;
    padding-right: 20px;
}


.labelImage {
    color: #ddd;
    font-size: 30px;
}

.custom-shape-divider-bottom-1687514102 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1687514102 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-1687514102 .shape-fill {
    fill: #0073aa;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}

.footerInfo {
    font-size: 10px;
    color: #f4f4f4
}

i {
    color: #f4f4f4;
    font-size: larger;
    margin-left: 15px;
}

i:hover {
    color: #ff6600;
}

.navbar-brand img {
    max-height: 50px;
}

.text-center {
    font-family: 'roboto', Arial, sans-serif;

}

body {
    background-color: hsla(200, 57%, 85%, 0.275);
}

/*==========================FOR MODAL - VIEW MORE============================*/
.titles,
#jobsAndRole {
    font-size: 30px;
    font-weight: 400;
    color: #0073aa;
    padding: 10px;
}

#freelanceName {
    margin-bottom: 15px;
}

.modal-header {
    padding: 0;
    padding: 10px;
}

.job {
    color: black;
}

#jobDescModal {
    color: black;
    padding: 5px 10px;
}

/*==========================END OF MODAL - VIEW MORE============================*/




/*============================FOR MEDIA QUERIES=================================*/
/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {}


/*============================ extra large  ===========================*/
@media (max-width: 1200px) {}


/*============================ large  ===========================*/
@media (max-width: 992px) {}


/*============================ medium  ===========================*/
@media (max-width: 768px) {
    .containerFreelanceHome {
        max-width: 420px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: #ddd;
    }

    .containerFreelanceHome {
        flex-direction: column;
        max-width: 440px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: #ddd;
    }

    .containerFreelanceHome .div1 {
        background-color: #0e8cc687;
        order: -1;
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }

    .containerFreelanceHome .div2 {
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
    }


    .footerInfo {
        font-size: 10px;
        color: #0073aa
    }

    i {
        color: #0073aa;
        margin-left: 15px;
    }

    #home1,
    #about1,
    #login1 {
        font-size: 15px;
        font-family: 'roboto', sans-serif;
        color: #f4f4f4;
    }

    .custom-shape-divider-bottom-1687514102 {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 svg {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 .shape-fill {
        fill: #0073aa;
    }

}


/*============================ small  ===========================*/
@media (max-width: 576px) {
    .containerFreelanceHome {
        flex-direction: column;
        max-width: 440px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: #ddd;
    }

    .containerFreelanceHome .div1 {
        order: -1;
        background-color: #0e8cc687;
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }

    .containerFreelanceHome .div2 {
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
    }


    .footerInfo {
        font-size: 10px;
        color: #0073aa
    }

    i {
        color: #0073aa;
        margin-left: 15px;
    }

    #home1,
    #about1,
    #logout1 {
        font-size: 15px;
        font-family: 'roboto', sans-serif;
        color: #f4f4f4;
    }

    .custom-shape-divider-bottom-1687514102 {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 svg {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 .shape-fill {
        fill: #0073aa;
    }

    /*==========================FOR MODAL - VIEW MORE============================*/
    .titles,
    #jobsAndRole {
        font-size: 20px;
        font-weight: 400;
        color: #0073aa;
        padding: 10px;
    }

    #freelanceName {
        margin-bottom: 15px;
    }

    .modal-header {
        padding: 0;
        padding: 10px;
    }

    .job {
        color: black;
    }

    #jobDescModal {
        color: black;
        font-size: 15px;
        padding: 5px 10px;
    }

    .modal-content {
        max-width: 400px;
        margin: 40px auto;
    }

    /*==========================END OF MODAL - VIEW MORE============================*/


}