#mainContainer {
    margin-top: 100px;
}

.navbar {
    background-color: #0073aa;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
}

#home1,
#about1,
#login1 {
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    color: #f4f4f4;
}

#login1:hover {
    color: #ff6600;
}

#about1:hover {
    color: #ff6600;
}

#home1:hover {
    color: #ff6600;
}

.containerRegis {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ddd;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 100px;
}

p {
    color: rgb(4, 4, 4);
}

#loginLink {
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    color: rgb(7, 161, 7);
}

.userRegTitle {
    color: #0073aa;
}

#checkboxInfo {
    color: rgb(255, 255, 255);
}

.btn {
    padding-left: 20px;
    padding-right: 20px;
}


.labelImage {
    color: #ddd;
    font-size: 30px;
}

.custom-shape-divider-bottom-1687514102 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1687514102 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-1687514102 .shape-fill {
    fill: #0073aa;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}

.footerInfo {
    font-size: 10px;
    color: #f4f4f4
}

.icons {
    color: #f4f4f4;
    font-size: larger;
    margin-left: 15px;
}

.icons:hover {
    color: #ff6600;
}

.navbar-brand img {
    max-height: 50px;
}

.text-center {
    font-family: 'roboto', Arial, sans-serif;

}

body {
    /* background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    /* background-color: #dca7848e; */
    background-color: hsla(200, 57%, 85%, 0.275);
}

/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {}


/*============================ extra large  ===========================*/
@media (max-width: 1200px) {}


/*============================ large  ===========================*/
@media (max-width: 992px) {}


/*============================ medium  ===========================*/
@media (max-width: 768px) {}


/*============================ small  ===========================*/
@media (max-width: 576px) {
    .containerRegis {
        max-width: 360px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 100px;
        background-color: #ddd;
    }

    #fName,
    #mName,
    #sName,
    #addr,
    #uName,
    #eAdd,
    #pass1,
    #pass2 {
        font-size: 10px;
    }

    .userRegTitle {
        color: rgb(0, 0, 0);
    }

    #loginLink {
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        color: rgb(7, 161, 7);
    }

    #forgotPasswordLink {
        font-size: 15px;
        font-weight: 600;
        color: rgb(209, 44, 91);
        text-decoration: none;
    }

    .freelanceRegInfo {
        font-size: 13px;
        color: black;
    }


    .footerInfo {
        font-size: 10px;
        color: #0073aa
    }

    .icons {
        color: #0073aa;
        margin-left: 15px;
    }

    #home1,
    #about1,
    #login1 {
        font-size: 15px;
        font-family: 'roboto', sans-serif;
        color: #f4f4f4;
    }

    .custom-shape-divider-bottom-1687514102 {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 svg {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 .shape-fill {
        fill: #0073aa;
    }
}