
 body{
    background-image: linear-gradient(to right, #0073aa, #8000aa);
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}


/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {

    .container{
        display: flex;
        margin: 200px auto;
        max-width: fit-content;
    }

    .toFlex{
        display: flex;
    }

    p{
        color: white;
        font-size: 20px;
    }
    i{
        color: white;
        font-size: 15px;
        padding: 0 4px;
    }
    i:hover{
        color: #b616eb;
    }
    .socialIcons{
        margin-left: 5px;
    }

    #imgWork{
        height: 350px;
        margin: 0 auto;
    }

    .left{
        width: 50%;
        padding-left: 200px;
    }

    .title1{
        font-weight: 700;
        font-size: 250px;
        position: fixed;
        top: 0;
        left: 50px;
        margin-top: 60px;
        padding-left: 50px;
        color: rgba(255, 255, 255, 0.3); /* White with 50% opacity */
    }
    #logoImage{
        opacity: 0.5;
    }
    .title2{
        color: white;
        font-size: 40px;
        font-weight: 500;
        margin-top: 90px;
        padding-left: 20px;
        margin-bottom: 10px;
        visibility: hidden;
    }
    .hidden{
        text-align: justify;
        margin-top: 0;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        visibility: hidden;
    }

    .right{
        width: 50%;
        display: flex;
    }
    .imgContainer{
        margin: 0 auto;
        padding: 30px 25px;
        box-shadow: 5px 8px 16px 5px rgba(148, 148, 148, 0.37);
    }
    .loginTitle{
        font-size: 80px;
    }
    #forgotPasswordLink{
        font-size: 15px;
        color: white;
        text-decoration: none;
    }

    #forgotPasswordLink:hover{
        color: rgb(235, 140, 32);
    }
    .infoLogin{
        font-size: 15px;
    }
    #registerLink{
        font-size: 15px;
        color: white;
        text-decoration: none;
    }
    #registerLink:hover{
        color: rgb(79, 235, 32);
    }

    .custom-shape-divider-bottom-1690684253 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1690684253 svg {
        position: relative;
        display: block;
        width: calc(236% + 1.3px);
        height: 251px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1690684253 .shape-fill {
        fill: #FFFFFF;
    }

    .btn {
    width: 140px;
    height: 50px;
    background-image: linear-gradient(to right, #0073aa, #8000aa);
    color: #fff;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    }


}


/*============================ LAPTOP ===========================*/
@media (max-width: 1366px) {

    .container{
        display: flex;
        margin: 100px auto;
        max-width: fit-content;
    }

    .toFlex{
        display: flex;
    }

    p{
        color: white;
        font-size: 20px;
    }
    i{
        color: white;
        font-size: 15px;
        padding: 0 4px;
    }
    i:hover{
        color: #b616eb;
    }
    .socialIcons{
        margin-left: 5px;
    }

    #imgWork{
        height: 350px;
        margin: 0 auto;
    }

    .left{
        width: 50%;
        padding-left: 200px;
    }

    .title1{
        font-weight: 700;
        font-size: 250px;
        position: fixed;
        top: 0;
        left: 50px;
        margin-top: 10px;
        padding-left: 50px;
        color: rgba(255, 255, 255, 0.3); /* White with 50% opacity */
    }
    #logoImage{
        height: 200px;
        opacity: 0.5;
    }
    .title2{
        /* color: white;
        font-size: 40px;
        font-weight: 500;
        margin-top: 0;
        padding-left: 20px;
        margin-bottom: 0; */
        visibility: hidden;
    }
    .hidden{
        /* text-align: justify;
        margin-top: 0;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5; */
        visibility: hidden;
    }

    .right{
        width: 50%;
        display: flex;
    }
    .imgContainer{
        margin: 0 auto;
        padding: 30px 25px;
        box-shadow: 5px 8px 16px 5px rgba(148, 148, 148, 0.37);
    }
    .loginTitle{
        font-size: 30px;
    }
    #forgotPasswordLink{
        font-size: 15px;
        color: white;
        text-decoration: none;
    }

    #forgotPasswordLink:hover{
        color: rgb(235, 140, 32);
    }
    .infoLogin{
        font-size: 15px;
    }
    #registerLink{
        font-size: 15px;
        color: white;
        text-decoration: none;
    }
    #registerLink:hover{
        color: rgb(79, 235, 32);
    }

    .custom-shape-divider-bottom-1690684253 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1690684253 svg {
        position: relative;
        display: block;
        width: calc(236% + 1.3px);
        height: 200px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1690684253 .shape-fill {
        fill: #FFFFFF;
    }

    .btn {
    width: 140px;
    height: 50px;
    background-image: linear-gradient(to right, #0073aa, #8000aa);
    color: #fff;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    }



}


/*============================ large  ===========================*/
@media (max-width: 992px) {}


/*============================ medium  ===========================*/
@media (max-width: 768px) {}


/*============================ small  ===========================*/
@media (max-width: 576px) {

    .container{
        flex-direction: column;
        margin: 180px auto;
    }

    .title1{
        font-weight: 0;
        font-size: 100px;
        position: fixed;
        top: 0;
        margin-top: 5px;
        padding: 0;
        color: rgba(255, 255, 255, 0.3); /* White with 50% opacity */
    }
    
    #logoImage{
        height: 100px;
    }

    .aboutInfo{
        text-align: justify;
        margin-top: 0;
        font-weight: 300;
        font-size: 13px;
        line-height: 1.5;
    }
    .title2{
        margin-top: 30px;
    }
    
    .left{
        width: 100%;
        padding: 0;
    }
    .right{
        width: 100%;
        padding: 0;
    }

    .custom-shape-divider-bottom-1690684253{
        display: none;
    }
    .left{
        width: 50%;
        padding-left: 200px;
        display: none;
    }
}

