body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  background-image: linear-gradient(to right, #0073aa, #8000aa);
  box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
}

#home1,
#about1,
#freelanceOption,
#freeLanceInbox {
  font-size: 18px;
  font-family: "roboto", sans-serif;
  color: #f4f4f4;
}

#freelanceOption:hover {
  color: #ff6600;
}

#about1:hover {
  color: #ff6600;
}

#home1:hover {
  color: #ff6600;
}

#freeLanceInbox:hover {
  color: #ff6600;
}
#welcomeName:hover #welcomeName:hover {
  color: #ff6600;
}
#welcomeName {
  font-size: 18px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #0074aa95;
  color: rgb(255, 255, 255);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-brand img {
  max-height: 50px;
}

body {
  background-color: hsla(200, 57%, 85%, 0.275);
}

/*============================FOR MEDIA QUERIES=================================*/
/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {
  .containerUserHome {
    display: flex;
    height: 90vh;
    width: 95%;
    margin: 0 auto;
  }

  p,
  span {
    font-size: 15px;
  }

  .containerLeft {
    flex: 70%;
    margin: 20px;
  }

  .containerLeft-Nav {
    display: flex;
    padding: 5px;
    border-radius: 5px;
    background-color: #0073aa;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.247);
  }

  .viewPostTitle {
    font-size: 30px;
    padding: 8px 9px;
    margin-left: 50px;
    color: #f9f9f9;
    border: none;
    background-color: #0073aa;
    cursor: pointer;
  }

  .containerLeft-Feed {
    overflow: scroll;
    height: 93%;
    padding: 10px;
  }

  .containerPost {
    margin: 20px 0;
    padding: 30px 50px;
    border-radius: 10px;
    height: fit-content;
    font-size: 15px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.247);
  }

  .title,
  .author,
  .info,
  .category,
  .tags {
    margin-bottom: 10px;
  }
  .label {
    font-weight: bold;
    color: #333;
  }

  .content {
    color: #666;
  }

  .separator {
    margin: 0 5px;
  }

  .datePost {
    color: #777;
  }

  .descPost {
    margin-top: 20px;
    color: #333;
    width: 100%;
    text-align: justify;
  }

  .backButton {
    text-align: center;
    margin-top: 20px;
  }

  #back {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  #backAnchor {
    text-decoration: none;
    color: white;
  }

  #back:hover {
    background-color: #0077cc;
  }

  .containerRight {
    flex: 30%;
    height: fit-content;
    margin: 20px;
  }
  .containerRight-Nav {
    padding: 10px;
    border-radius: 5px;
    height: 75px;
    background-color: #0073aa;
  }
  .userProfile {
    width: 100%;
  }

  .userProfileChild {
    border-radius: 5px;
    display: flex;
    margin: 20px 50px;
    padding: 30px 50px;
    flex-direction: column;
    background-color: #f4f4f4ee;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.247);
  }
  #userPic {
    height: 150px;
    border-radius: 100px;
    margin: 0px auto;
  }
  #userName {
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    margin: auto;
  }
  .toFlex {
    display: flex;
  }
} /*============================ LAPTOP ===========================*/
@media (max-width: 1366px) {
  .navbar-brand img {
    max-height: 40px;
  }

  .containerUserHome {
    display: flex;
    height: 90vh;
    width: 95%;
    margin: 0 auto;
  }
  p,
  span {
    font-size: 10px;
  }

  .containerLeft {
    flex: 70%;
    margin: 20px;
  }

  .containerLeft-Nav {
    display: flex;
    padding: 5px;
    border-radius: 5px;
    background-color: #0073aa;
  }
  .viewPostTitle {
    font-size: 20px;
    padding: 8px 9px;
    margin-left: 50px;
    color: #f9f9f9;
    border: none;
    background-color: #0073aa;
    cursor: pointer;
  }

  .containerLeft-Feed {
    overflow: scroll;
    height: 90%;
    padding: 10px;
  }
  .containerPost {
    margin: 15px 0;
    padding: 10px 30px;
    height: fit-content;
    font-size: 15px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.247);
  }

  .containerRight {
    flex: 30%;
    /* background-color: #ddd; */
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.247); */
    height: fit-content;
    margin: 20px;
  }
  .containerRight-Nav {
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    background-color: #0073aa;
  }
  .userProfile {
    /* height: 50%; */
    width: 100%;
  }

  .userProfileChild {
    display: flex;
    margin: 10px 50px;
    padding: 10px 25px;
    flex-direction: column;
    background-color: #f4f4f4ee;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.247);
  }
  #userPic {
    height: 100px;
    margin: 0px auto;
  }
  #userName {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin: auto;
  }
  .userPostChild {
    margin: 20px 50px;
    padding: 20px 50px;
    background-color: #f4f4f4ee;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.247);
  }
  .toFlex {
    display: flex;
  }
}

/*============================ large  ===========================*/
@media (max-width: 992px) {
}

/*============================ medium  ===========================*/
@media (max-width: 768px) {
}

/*============================ small  ===========================*/
@media (max-width: 576px) {
  .containerUserHome {
    flex-direction: column;
    display: flex;
    height: 200px;
    width: 95%;
    margin: 20px auto;
  }

  .userProfileChild {
    display: none;
  }
  .containerLeft-Nav {
    display: block;
    padding: 5px;
    border-radius: 5px;
    background-color: #0073aa;
  }
  .containerLeft {
    height: fit-content;
    background-color: #ddd;
    margin: 5px;
  }
  .containerRight {
    flex: 30%;
    background-color: #ddd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.247);
    height: fit-content;
    margin: 20px;
  }
  .containerLeft-Feed {
    overflow: scroll;
    height: fit-content;
    padding: 10px;
  }

  .containerPost {
    margin: 5px 0px;
    padding: 10px 30px;
    height: 150px;
    height: fit-content;
    font-size: 15px;
    background-color: #f4f4f4ee;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.247);
  }

  .titlePost {
    font-weight: 400;
    font-size: 18px;
  }

  .userPostChild {
    margin: 0px 0px;
    padding: 20px 50px;
    background-color: #f4f4f4ee;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.247);
  }
  .containerRight-Nav {
    display: none;
  }

  #home1,
  #about1,
  #freelanceOption,
  #freeLanceInbox {
    font-size: 15px;
    font-family: "roboto", sans-serif;
    color: #f4f4f4;
  }
  #welcomeName {
    font-size: 15px;
  }

  .custom-shape-divider-bottom-1687514102 {
    display: none;
  }

  .custom-shape-divider-bottom-1687514102 svg {
    display: none;
  }

  .custom-shape-divider-bottom-1687514102 .shape-fill {
    fill: #0073aa;
  }
}
