
.navbar {
    background-color: #0073aa;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
}

#home1,
#about1,
#userOption,
#userInbox {
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    color: #f4f4f4;
}

#userOption:hover {
    color: #ff6600;
}

#about1:hover {
    color: #ff6600;
}

#home1:hover {
    color: #ff6600;
}

#userInbox:hover {
    color: #ff6600;
}

    /* Dropdown button styles */
    .dropdown-btn {
        background-color: #4CAF50;
        color: white;
        padding: 12px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
  
      /* Dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        width: 190px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
  
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
  
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #0074aa95;
        color: rgb(255, 255, 255);
      }
  
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }


.containerUserHome {
    display: flex;
    max-width: auto;
    max-height: auto;
    margin: 80px 15%;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ddd;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.containerPost1{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 5px;
    background-color: #0074aa95;
}
.containerPost{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 5px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.containerPost:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: #0074aa71;
}
.containerPost{
    padding: 10px;
}
.titlePost{
    font-size: larger;
    font-weight: 700;
}
.datePost{
    font-style: italic;
}
.descPost{
    font-size: 13px;
}
.search{
    display: flex;
}

/* user side post */
.userPostTitleContainer{
    display: flex;
    flex-direction: column;
}
.dropDownContainer{
    display: flex;
}
.userBtnPostCont{
    display: flex;
}
.btn{
    margin: 0 auto;
}
.userPostTitle{
    margin: 0 auto;
}
#dropdownBTNPost{
    margin: 0 auto;
}
#dropdownBTN{
    border: none;
    font-size: 20px;
    width: 250px;
    background-color: #0074aa95;
}

.containerUserHome .div1 {
    margin: 10px;
    width: 30%;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}


#userName {
    margin: 10px auto 0;
}

#userPic {
    max-width: 150px;
    margin: 10px auto 0;
    border-radius: 73px;
}

#verifyUserAcc {
    margin: 10px auto 10px;
    background-color: #079040;
    color: #ddd;
    font-weight: 400;
    border-radius: 10px;
    padding: 3px 10px;
}

#verifyUserAcc:hover {
    background-color: #044c22;
    cursor: pointer;
}

.flexDiv {
    display: flex;
    margin-left: 20px;
}
.flexDivBot{
    margin-bottom: auto;
}

.telnoImg,
.addressImg,
.emailImg {
    margin-right: 20px;
}

#viewmore {
    margin: 10px auto 10px;
    background-color: #079040;
    color: #ddd;
    font-weight: 400;
    border-radius: 10px;
    padding: 3px 10px;
}

#viewmore:hover {
    background-color: #044c22;
    cursor: pointer;
}


.editContainer {
    position: relative;
    background-color: lightgray;
    margin-top: 20px;
}

#editUserAcc {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(149, 92, 92);
    padding-right: 3px;
}

#editUserAcc:hover {
    color: #ff6600;
    cursor: pointer;
}

.containerUserHome .div2 {
    margin: 10px;
    width: 70%;
    max-height: auto;
    border: 1px solid rgb(255, 255, 255);
}
.containerPost{
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 10px;
}
.containerHistory{
    width: auto;
    height: 600px;
    overflow: auto;
    padding: 5px;
}

p {
    color: rgb(220, 220, 220);
    padding: 5px;
}

.btn {
    padding-left: 20px;
    padding-right: 20px;
}


.labelImage {
    color: #ddd;
    font-size: 30px;
}

.custom-shape-divider-bottom-1687514102 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1687514102 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-1687514102 .shape-fill {
    fill: #0073aa;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}

.footerInfo {
    font-size: 10px;
    color: #f4f4f4
}

i {
    color: #f4f4f4;
    font-size: larger;
    margin-left: 15px;
}

i:hover {
    color: #ff6600;
}

.navbar-brand img {
    max-height: 50px;
}

.text-center {
    font-family: 'roboto', Arial, sans-serif;

}

body {
    background-color: hsla(200, 57%, 85%, 0.275);
}



/*============================FOR MEDIA QUERIES=================================*/
/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {}


/*============================ extra large  ===========================*/
@media (max-width: 1366px) {
    .containerUserHome {
        display: flex;
        max-width: auto;
        max-height: auto;
        margin: 50px 15%;
        padding: 20px;
        border: 1px solid rgb(255, 255, 255);
        background-color: #ddd;
        box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    .containerHistory{
        width: auto;
        height: 500px;
        overflow: auto;
        padding: 5px;
    }
}


/*============================ large  ===========================*/
@media (max-width: 992px) {}


/*============================ medium  ===========================*/
@media (max-width: 768px) {

    .containerUserHome {
        flex-direction: column;
        max-width: 440px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: #ddd;
    }

    .containerUserHome .div1 {
        order: -1;
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }

    .containerUserHome .div2 {
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
    }


    .footerInfo {
        font-size: 10px;
        color: #0073aa
    }

    i {
        color: #0073aa;
        margin-left: 15px;
    }

    #logout1 {
        color: #000000;
    }

    #logout1:hover {
        color: #f4f4f4;
    }


    #home1,
    #about1,
    #userOption,
    #userInbox {
        font-size: 15px;
        font-family: 'roboto', sans-serif;
        color: #f4f4f4;
    }

    .custom-shape-divider-bottom-1687514102 {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 svg {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 .shape-fill {
        fill: #0073aa;
    }

}
    /* ====For User ID verification modal */
    #modaluserIdVerification{
        margin-top: 10%;
    }
    #uploadedImageUser{
        margin-left: auto;
        margin-right: auto;
    }


/*============================ small  ===========================*/
@media (max-width: 576px) {
    .containerUserHome {
        flex-direction: column;
        max-width: 440px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: #ddd;
    }

    .containerUserHome .div1 {
        order: -1;
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }

    .containerUserHome .div2 {
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
    }


    .footerInfo {
        font-size: 10px;
        color: #0073aa
    }

    i {
        color: #0073aa;
        margin-left: 15px;
    }

    #home1,
    #about1,
    #userOption,
    #userInbox {
        font-size: 15px;
        font-family: 'roboto', sans-serif;
        color: #f4f4f4;
    }


    .custom-shape-divider-bottom-1687514102 {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 svg {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 .shape-fill {
        fill: #0073aa;
    }


}