body {
    background-image: linear-gradient(to right, #0073aa, #8000aa);
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}


/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {

    .container_{
        margin: 15vh auto;
        width: 50vw;
        height: fit-content;
        padding: 10px 10px 30px;
        box-shadow: 5px 8px 16px 5px rgba(196, 196, 196, 0.37);
    }
    .header_title{
        font-size: 25px;
    }
    .font{
        color: #FFFFFF;
    }
    .title{
        font-size: 20px;
    }
    .hr{
       color: #FFFFFF;
    }
    form{
        display: flex;
    }


    .form_div1{
        width: 50%;
        padding: 10px;
    }

    .imgCont{
        width: 50%;
        margin: auto;
        display: flex;
    }

    #imgUpload{
        margin: 5px auto;
        height: 150px;
        border-radius: 50%;
        margin: auto;
    }
    .addr{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    #addr{
        border-radius: 10px;
        border: none;
    }
    #imageInput{
        margin: 0 10px;
    }


    .form_div2{
        width: 50%;
        padding: 10px;
    }
    .uname{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    #uname{
        border-radius: 10px;
        border: none;
    }

    .btns{
        display: flex;
    }
    .end{
        margin: 10px 0px auto auto;
    }
    .btn{
        border: none;
        padding: 5px 10px;
    }
    .submitBTN{
        background-color:rgb(42, 94, 206);
        color: #FFFFFF;
    }
    .submitBTN:hover{
        background-color:rgb(24, 62, 142);
        color: #FFFFFF;
    }
    .backBTN{
        background-color: #66696a;
        color: #FFFFFF;
    }
    .backBTN:hover{
        background-color: #4b4d4d;
        color: #FFFFFF;
    }



    .custom-shape-divider-bottom-1690684253 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1690684253 svg {
        position: relative;
        display: block;
        width: calc(236% + 1.3px);
        height: 251px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1690684253 .shape-fill {
        fill: #FFFFFF;
    }

    


}


/*============================ large  ===========================*/
@media (max-width: 1366px) {

    .container_{
        margin: 10vh auto;
        width: 60vw;
        height: fit-content;
        padding: 10px 10px 30px;
    }
    


    .custom-shape-divider-bottom-1690684253 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1690684253 svg {
        position: relative;
        display: block;
        width: calc(236% + 1.3px);
        height: 150px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1690684253 .shape-fill {
        fill: #FFFFFF;
    }
}


/*============================ medium  ===========================*/
@media (max-width: 768px) {}


/*============================ small  ===========================*/
@media (max-width: 576px) {

    .container_{
        margin: 10vh auto;
        width: 90vw;
        height: fit-content;
        padding: 10px 10px 30px;
    }

    form{
        display: block;
    }
    .form_div1{
        width: auto;
    }
    .form_div2{
        width: auto;
    }

    .custom-shape-divider-bottom-1690684253 {
        display: none;
    }
}