#mainContainer {
    margin-top: 100px;
}

.navbar {
    background-color: #0073aa;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
}

#home1,
#about1,
#userOption,
#userInbox {
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    color: #f4f4f4;
}

#userOption:hover {
    color: #ff6600;
}

#about1:hover {
    color: #ff6600;
}

#home1:hover {
    color: #ff6600;
}

#userInbox:hover {
    color: #ff6600;
}

    /* Dropdown button styles */
    .dropdown-btn {
        background-color: #4CAF50;
        color: white;
        padding: 12px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
  
      /* Dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        width: 190px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
  
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
  
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #0074aa95;
        color: rgb(255, 255, 255);
      }
  
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }


.containerViewFreelance {
    display: flex;
    max-width: auto;
    max-height: auto;
    margin: 0 15%;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ddd;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 100px;
}

.item {
    background-color: #0074aa95;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
    position: relative;
  }

.item:hover{
    background-color: rgb(157, 157, 157);
}

.item p, h3 {
    color: #f4f4f4;
    text-align: justify;
}


.containerViewFreelance .div1 {
    margin: 10px;
    width: 30%;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.rating {
    display: inline-block;
    margin: 0 auto;
  }

  .star {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('star.png') no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .toMid{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

#freelancerMainInfo{
    margin-top: 20px;
}
#freelanceMainInfoInside{
    display: flex;
}

.freelanceUsernameContainer {
    /* margin-top: 10px; */
    margin-left: auto;
    margin-right: auto;
} 

#verifiedImg{
    height: 20px;
    margin: auto;
    padding-left: 5px;
}

#freelancerPic {
    max-width: 150px;
    margin: 10px auto 0;
    border-radius: 73px;
}


.toFlex{
    display: flex;
}

.freelanceButtons{
    margin: auto auto 5px;
}

#messageFreelance1, #viewMoreFreelance1{
    color: #ddd;
    text-decoration: none;
}

#rateFreelance:hover {
    background-color: #044c22;
    cursor: pointer;
}

.flexDiv {
    display: flex;
    margin-left: 20px;
}
.flexDivBot{
    margin-bottom: 5px;
}

.telnoImg,
.addressImg,
.emailImg {
    margin-right: 20px;
}

#messageFreelance1 {
    /* margin: 10px auto 10px; */
    background-color: #079040;
    color: #ddd;
    font-weight: 400;
    border-radius: 10px;
    padding: 3px 20px;
}

#messageFreelance1:hover {
    background-color: #044c22;
    cursor: pointer;
}
#viewMoreFreelance1 {
    /* margin: 10px auto 10px; */
    background-color: #079040;
    color: #ddd;
    font-weight: 400;
    border-radius: 10px;
    padding: 3px 10px;
}

#viewMoreFreelance1:hover {
    background-color: #044c22;
    cursor: pointer;
}


.containerViewFreelance .div2 {
    margin: 10px;
    width: 70%;
    max-height: auto;
    border: 1px solid rgb(255, 255, 255);
}

.containerCatalog{
    width: auto;
    height: 540px;
    overflow: auto;
    padding: 5px;
}

.containerPost{
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 10px;
}
.containerHistory{
    width: auto;
    height: 500px;
    overflow: auto;
    padding: 5px;
}
.imgWork{
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}
.item{
    display: flex;
}

.catalogTexts{
    padding: 20px;
}

p {
    color: rgb(220, 220, 220);
    padding: 5px;
}

.btn {
    padding-left: 20px;
    padding-right: 20px;
}


.labelImage {
    color: #ddd;
    font-size: 30px;
}

.custom-shape-divider-bottom-1687514102 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1687514102 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-1687514102 .shape-fill {
    fill: #0073aa;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}

.footerInfo {
    font-size: 10px;
    color: #f4f4f4
}

i {
    color: #f4f4f4;
    font-size: larger;
    margin-left: 15px;
}

i:hover {
    color: #ff6600;
}

.navbar-brand img {
    max-height: 50px;
}

.text-center {
    font-family: 'roboto', Arial, sans-serif;

}

body {
    background-color: hsla(200, 57%, 85%, 0.275);
}

/* ====For User ID verification modal */
#modaluserIdVerification{
    margin-top: 10%;
}

#uploadedImageUser1, .labelImage{
    margin-left: 10px;
}






/*============================FOR MEDIA QUERIES=================================*/
/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {}


/*============================ extra large  ===========================*/
@media (max-width: 1200px) {}


/*============================ large  ===========================*/
@media (max-width: 992px) {}


/*============================ medium  ===========================*/
@media (max-width: 768px) {

    .containerViewFreelance {
        flex-direction: column;
        max-width: 440px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: #ddd;
    }

    .containerViewFreelance .div1 {
        order: -1;
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }

    .containerViewFreelance .div2 {
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
    }

    .item{
        display: flex;
        flex-direction: column;
    }


    .footerInfo {
        font-size: 10px;
        color: #0073aa
    }

    i {
        color: #0073aa;
        margin-left: 15px;
    }

    #logout1 {
        color: #000000;
    }

    #logout1:hover {
        color: #f4f4f4;
    }


    #home1,
    #about1,
    #userOption,
    #userInbox {
        font-size: 15px;
        font-family: 'roboto', sans-serif;
        color: #f4f4f4;
    }

    .custom-shape-divider-bottom-1687514102 {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 svg {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 .shape-fill {
        fill: #0073aa;
    }

}


/*============================ small  ===========================*/
@media (max-width: 576px) {

    .containerViewFreelance {
        flex-direction: column;
        max-width: 440px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: #ddd;
    }

    .containerViewFreelance .div1 {
        order: -1;
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }

    .containerViewFreelance .div2 {
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
    }


    .footerInfo {
        font-size: 10px;
        color: #0073aa
    }

    i {
        color: #0073aa;
        margin-left: 15px;
    }

    #home1,
    #about1,
    #userOption,
    #userInbox {
        font-size: 15px;
        font-family: 'roboto', sans-serif;
        color: #f4f4f4;
    }


    .custom-shape-divider-bottom-1687514102 {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 svg {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 .shape-fill {
        fill: #0073aa;
    }

    .catalogImg{
        margin-left: auto;
        margin-right: auto;
    }
    .catalogTexts h3, h4{
        font-size: 15px;
    }



}