
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="template.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <title>eGawa | Online Freelance Service Platform</title> 


</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#"><img src="eGAWAwhite.png" title="eGAwa Online Freelance Service Platform" alt="Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container mt-4">
      <h1 class="titlePage">eGawa</h1>
      <p class="fonts">This is the main content of your website.</p>
        <div class="main">
          <p class="fonts">This is for middle part
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Voluptatibus ab repellat doloribus aliquid suscipit dolores molestiae in, 
              deserunt exercitationem officiis rerum sunt expedita ea quae rem at harum, 
              ad officia non assumenda, culpa natus quis! Praesentium ducimus fugit sequi provident?
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Voluptatibus ab repellat doloribus aliquid suscipit dolores molestiae in, 
              <br>
          </p>
          <p class="fonts">This is for middle part
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Voluptatibus ab repellat doloribus aliquid suscipit dolores molestiae in, 
              deserunt exercitationem officiis rerum sunt expedita ea quae rem at harum, 
              ad officia non assumenda, culpa natus quis! Praesentium ducimus fugit sequi provident?
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Voluptatibus ab repellat doloribus aliquid suscipit dolores molestiae in, 
              <br>
          </p>
		  <p class="fonts">This is for middle part
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Voluptatibus ab repellat doloribus aliquid suscipit dolores molestiae in, 
              deserunt exercitationem officiis rerum sunt expedita ea quae rem at harum, 
              ad officia non assumenda, culpa natus quis! Praesentium ducimus fugit sequi provident?
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Voluptatibus ab repellat doloribus aliquid suscipit dolores molestiae in, 
              <br>
          </p>
          </h1>
		  <p class="fonts">This is for middle part
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Voluptatibus ab repellat doloribus aliquid suscipit dolores molestiae in, 
              deserunt exercitationem officiis rerum sunt expedita ea quae rem at harum, 
              ad officia non assumenda, culpa natus quis! Praesentium ducimus fugit sequi provident?
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Voluptatibus ab repellat doloribus aliquid suscipit dolores molestiae in, 
              <br>
          </p>
        </div>
    </div>



<footer class="footer">
    <div class="container">
      <div class="socialIcons">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.gmail.com/"><i class="fa-brands fa-google"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
      <p class="footerInfo">&copy;2023 eGawa: Online Freelance Service Platform</p>
    </div>
  </footer>

</body>
</html>
