body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


/* extra extra large  */
@media (max-width: 5000px) {
  .text-center {
    color: rgb(237, 20, 190);
  }
}


/* extra large  */
@media (max-width: 1200px) {
  .text-center {
    color: rgb(20, 237, 38);
  }
}


/* large  */
@media (max-width: 992px) {
  .text-center {
    color: rgb(255, 242, 0);
  }
}


/* medium  */
@media (max-width: 768px) {
  .text-center {
    color: rgb(35, 20, 237);
  }
}


/* small  */
@media (max-width: 576px) {
  .text-center {
    color: red;
  }
}