
body{
    background-image: linear-gradient(to right, #0073aa, #8000aa);
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}


/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {


    .custom-shape-divider-bottom-1690684253 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1690684253 svg {
        position: relative;
        display: block;
        width: calc(236% + 1.3px);
        height: 190px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1690684253 .shape-fill {
        fill: #FFFFFF;
    }


}


/*============================ LAPTOP ===========================*/
@media (max-width: 1366px) {


    .custom-shape-divider-bottom-1690684253 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1690684253 svg {
        position: relative;
        display: block;
        width: calc(236% + 1.3px);
        height: 150px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1690684253 .shape-fill {
        fill: #FFFFFF;
    }

}

/*============================ LAPTOP (1311) ===========================*/
@media (max-width: 1311px) {


    .custom-shape-divider-bottom-1690684253 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1690684253 svg {
        position: relative;
        display: block;
        width: calc(236% + 1.3px);
        height: 100px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1690684253 .shape-fill {
        fill: #FFFFFF;
    }

}

/*============================ large  ===========================*/
@media (max-width: 1296) {
    
}

/*============================ medium  ===========================*/
@media (max-width: 768px) {}


/*============================ small  ===========================*/
@media (max-width: 576px) {


    .custom-shape-divider-bottom-1690684253{
        display: none;
    }

}

