body{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}
/*============================FOR MEDIA QUERIES=================================*/
/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {
    /* #mainContainer {
        margin-top: 100px;
    } */
    
    .navbar {
        /* background-color: #0073aa; */
        background-image: linear-gradient(to right, #0073aa, #8000aa);
        box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
    }
    
    #home1,
    #about1,
    #freelanceOption,
    #freeLanceInbox {
        font-size: 18px;
        font-family: 'roboto', sans-serif;
        color: #f4f4f4;
    }
    
    #freelanceOption:hover {
        color: #ff6600;
    }
    
    #about1:hover {
        color: #ff6600;
    }
    
    #home1:hover {
        color: #ff6600;
    }
    
    #freeLanceInbox:hover {
        color: #ff6600;
    }
    
      
          /* Dropdown content (hidden by default) */
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            width: 190px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
          }
      
          /* Links inside the dropdown */
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
      
          /* Change color of dropdown links on hover */
          .dropdown-content a:hover {
            background-color: #0074aa95;
            color: rgb(255, 255, 255);
          }
      
          /* Show the dropdown menu on hover */
          .dropdown:hover .dropdown-content {
            display: block;
          }
    
    .containerFreelanceHome {
        display: flex;
        max-width: auto;
        max-height: auto;
        margin: 0 15%;
        padding: 20px;
        border: 1px solid rgb(255, 255, 255);
        background-color: #ddd;
        box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        margin-top: 100px;
    }
    
    
    .containerFreelanceHome .div1 {
        /* background-color: #0e8cc687; */
        margin: 10px;
        width: 30%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }
    
    .freelanceNameContainer, .freelanceUsernameContainer {
        /* margin-top: 10px; */
        margin-left: auto;
        margin-right: auto;
    } 
    
    .rating {
        /* display: inline-block; */
        margin: 0 auto;
      }
    
      .star {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('star.png') no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    
    #freelancerPic {
        max-width: 150px;
        margin: 10px auto;
        border-radius: 73px;
    }

    #verifyFreelanceAccDiv{
        margin: 10px auto 10px;
        background-color: #079040;
        color: #ddd;
        font-weight: 400;
        border-radius: 10px;
        padding: 3px 10px;
    }
    #verifyFreelanceAcc {
        text-decoration: none;
        color: #ddd;
    }
    
    #verifyFreelanceAccDiv:hover {
        background-color: #044c22;
        cursor: pointer;
    }
    
    #jobsAndRole1 {
        font-size: 18px;
        font-weight: 600;
        margin-left: 5px;
    }
    
    .job {
        list-style-type: none;
        /* Remove the default bullet dot */
        font-size: 15px;
        color: #ddd;
    }
    
    .flexDiv {
        display: flex;
        margin-left: 20px;
    }
    
    .telnoImg,
    .addressImg,
    .emailImg {
        margin-right: 20px;
    }
    
    
    #viewmore {
        margin: 10px auto 10px;
        background-color: #079040;
        color: #ddd;
        font-weight: 400;
        border-radius: 10px;
        padding: 3px 10px;
    }
    
    #viewmore:hover {
        background-color: #044c22;
        cursor: pointer;
    }
    
    
    .editContainer {
        position: relative;
        background-color: lightgray;
        margin-top: 20px;
    }
    
    
    .containerFreelanceHome .div2 {
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 70%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
    }
    
    .containerCatalog{
        width: auto;
        height: 540px;
        overflow: auto;
        padding: 5px;
    }
    
    .catalogButtons{
        margin-bottom: 0px;
        padding: 5px;
        display: flex;
        justify-content: end;
        border: 1px solid rgb(255, 255, 255);
    }
    
    #addCatalog{
        background-color: #0073aa;
        color: #ddd;
        font-weight: 400;
        border-radius: 10px;
        padding: 3px 10px;
        border-style: none;
    }
    
    #addCatalog:hover {
        background-color: #014c6f;
        color: #ddd;
        font-weight: 400;
        border-radius: 10px;
        padding: 3px 10px;
        border-style: none;
    }
    
    .item {
        background-color: #0074aa95;
        border-radius: 5px;
        border: 1px solid rgb(255, 255, 255);
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        cursor: pointer;
        position: relative;
      }
    
    .item:hover{
        background-color: rgb(157, 157, 157);
    }
    
    .item p, h3 {
        color: #f4f4f4;
        text-align: justify;
    }
    
    
    #insideItem{
       display: flex;
       background-color: #0074aa95;
       border: none;
       padding: 20px;
       width: 1000px;
    }
    
    
    #uploadedImage{
        margin-left: auto;
        margin-right: auto;
    }
    #uploadInput{
        margin-left: 40px;
        margin-bottom: 10px;
    }
    
    .catalogTexts{
       margin: auto 20px;
       width: 400px;
    }
    #catalogItemButton{
        display: flex;
        flex-direction: column  ;
        border: #0074aa00;
    }
    #catalogItemButton .btn{
        margin: 5px;
    }
    
    
    #collapseExample{
        margin-top: 10px;
        margin-bottom: auto;
        margin-right: 10px;
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        z-index: 2;
    }
    
    .imgWork {
        height: 100px;
        border-radius: 5px;
        background-color: #ffffff;
      }
    
    
    p {
        color: rgb(220, 220, 220);
        padding: 5px;
    }
    
    #checkboxInfo {
        color: rgb(255, 255, 255);
    }
    
    .btn {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    
    .labelImage {
        color: #ddd;
        font-size: 30px;
    }
    
    .custom-shape-divider-bottom-1687514102 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1687514102 svg {
        position: relative;
        display: block;
        width: calc(158% + 1.3px);
        height: 190px;
    }
    
    .custom-shape-divider-bottom-1687514102 .shape-fill {
        fill: #0073aa;
    }
    
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .footerInfo {
        font-size: 10px;
        color: #f4f4f4
    }
    
    .icons {
        color: #f4f4f4;
        font-size: larger;
        margin-left: 15px;
    }
    
    .icons:hover {
        color: #ff6600;
    }
    
    .navbar-brand img {
        max-height: 50px;
    }
    
    .text-center {
        font-family: 'roboto', Arial, sans-serif;
    
    }
    
    body {
        background-color: hsla(200, 57%, 85%, 0.275);
    }
    
    /*==========================FOR MODAL - VIEW MORE============================*/
    .modalTitles, .titles,
    #jobsAndRole {
        font-size: 30px;
        font-weight: 600;
        color: #0073aa;
        padding: 10px;
    }
    
    #freelanceName {
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .modal-header {
        padding: 0;
        padding: 10px;
    }
    
    .job {
        color: black;
    }
    
    #jobDescModal {
        color: black;
        padding: 5px 10px;
    }
    
    /*==========================END OF MODAL - VIEW MORE============================*/
    #uploadedEditImage, 
    #uploadedEditImageCatalog, 
    #uploadedImageCatalog{
        margin-left: auto;
        margin-right: auto;
    }
    #uploadInputEdit{
        margin-left: 40px;
        margin-bottom: 10px;
    }
    
    /*==========================FOR MODAL - EDIT PROFILE============================*/
    
    
    /*==========================END OF MODAL - EDIT PROFILE============================*/
    
}


/*============================ LAPTOP  ===========================*/
@media (max-width: 1366px) {

    #home1,
    #about1,
    #freelanceOption,
    #freeLanceInbox {
        font-size: 15px;
        font-family: 'roboto', sans-serif;
        color: #f4f4f4;
    }
              /* Dropdown content (hidden by default) */
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                width: 180px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
              }
          
              /* Links inside the dropdown */
              .dropdown-content a {
                font-size: 12px;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }
          
              /* Change color of dropdown links on hover */
              .dropdown-content a:hover {
                background-color: #0074aa95;
                color: rgb(255, 255, 255);
              }
          
              /* Show the dropdown menu on hover */
              .dropdown:hover .dropdown-content {
                display: block;
              }


    .containerFreelanceHome {
        display: flex;
        max-width: auto;
        max-height: auto;
        margin: 0 10%;
        padding: 10px;
        border: 1px solid rgb(255, 255, 255);
        background-color: #ddd;
        box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        margin-top: 50px;
    }

    .containerFreelanceHome .div1 {
        /* background-color: #0e8cc687; */
        margin: 10px;
        width: 30%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }
    #freelancerPic {
        max-width: 100px;
        margin: 10px auto;
        border-radius: 73px;
    }
    #freelanceName{
        font-size: 20px;
        margin-bottom: 5px;
    }
    #freelanceUsername{
        font-size: 15px;
        margin-bottom: 5px;
    }
    
    #jobsAndRole1{
        font-size: 15px;
    }
    li{
        font-size: 12px;
    }

    .flexDiv img{
        height: 15px;
    }
    .flexDiv .freelanceAddress{
        font-size: 13px;
    }
    .flexDiv .freelanceEmail{
        font-size: 13px;
    }

    .telnoImg,
    .addressImg,
    .emailImg {
        margin-right: 10px;
    }

    #verifyFreelanceAccDiv{
        margin: 0 auto 5px;
        background-color: #079040;
        color: #ddd;
        font-weight: 400;
        border-radius: 10px;
        padding: 1px 8px;
    }

    #verifyFreelanceAcc {
        text-decoration: none;
        font-size: 12px;
        color: #ddd;
    }
    
    #verifyFreelanceAccDiv:hover {
        background-color: #044c22;
        cursor: pointer;
    }

    #viewmore {
        margin: 5px auto 5px;
        background-color: #079040;
        color: #ddd;
        font-weight: 400;
        border-radius: 10px;
        padding: 3px 10px;
        font-size: 13px;
    }
    
    #viewmore:hover {
        background-color: #044c22;
        cursor: pointer;
    }

    .containerFreelanceHome .div2 {
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 70%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
    }

    .containerCatalog{
        width: auto;
        height: 440px;
        overflow: auto;
        padding: 5px;
    }


    .custom-shape-divider-bottom-1687514102 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1687514102 svg {
        position: relative;
        display: block;
        width: calc(158% + 1.3px);
        height: 100px;
    }
    
    .custom-shape-divider-bottom-1687514102 .shape-fill {
        fill: #0073aa;
    }
    
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .footerInfo {
        margin-bottom: 0;
        font-size: 10px;
        color: #f4f4f4
    }
    
    .icons {
        color: #f4f4f4;
        font-size: 13px;
        margin-left: 15px;
    }
    
    .icons:hover {
        color: #ff6600;
    }
    
    .navbar-brand img {
        max-height: 50px;
    }
    
    .text-center {
        font-family: 'roboto', Arial, sans-serif;
    
    }
    
    body {
        background-color: hsla(200, 57%, 85%, 0.275);
    }
}


/*============================ large  ===========================*/
@media (max-width: 992px) {}


/*============================ medium  ===========================*/
@media (max-width: 768px) {
    
    .containerFreelanceHome {
        max-width: 420px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: #ddd;
    }

    .containerFreelanceHome {
        flex-direction: column;
        max-width: 440px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: #ddd;
    }

    .containerFreelanceHome .div1 {
        background-color: #0e8cc687;
        order: -1;
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }

    .containerFreelanceHome .div2 {
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
    }
    .item{
        display: flex;
        flex-direction: column;
    }

    .catalogImg, 
    .catalogTexts{
        margin: 10px auto 0 auto;
    }

    .catalogTexts{
        width: 300px;
     }

    #catalogItemButton{
        display: flex;
        flex-direction: row  ;
        border: #0074aa00;
    }

    
    #collapseExample{
        position: static;
        margin-left: auto;
        margin-right: auto;
        width: 150px;   
    }




    .footerInfo {
        font-size: 10px;
        color: #0073aa
    }

    i {
        color: #0073aa;
        margin-left: 15px;
    }

    #home1,
    #about1,
    #freelanceOption,
    #freeLanceInbox {
        font-size: 15px;
        font-family: 'roboto', sans-serif;
        color: #f4f4f4;
    }

    .custom-shape-divider-bottom-1687514102 {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 svg {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 .shape-fill {
        fill: #0073aa;
    }

}


/*============================ small  ===========================*/
@media (max-width: 576px) {
    .containerFreelanceHome {
        flex-direction: column;
        max-width: 440px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: #ddd;
    }

    .containerFreelanceHome .div1 {
        order: -1;
        background-color: #0e8cc687;
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }

    .containerFreelanceHome .div2 {
        margin: 10px auto 10px;
        width: 90%;
        max-height: auto;
        border: 1px solid rgb(255, 255, 255);
    }


    .footerInfo {
        font-size: 10px;
        color: #0073aa
    }

    i {
        color: #0073aa;
        margin-left: 15px;
    }

    #home1,
    #about1,
    #freelanceOption {
        font-size: 15px;
        font-family: 'roboto', sans-serif;
        color: #f4f4f4;
    }

    .custom-shape-divider-bottom-1687514102 {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 svg {
        display: none;
    }

    .custom-shape-divider-bottom-1687514102 .shape-fill {
        fill: #0073aa;
    }

    /*==========================FOR MODAL - VIEW MORE============================*/
    .titles,
    #jobsAndRole {
        font-size: 20px;
        font-weight: 400;
        color: #0073aa;
        padding: 10px;
    }

    #freelanceName {
        margin-bottom: 15px;
    }

    .modal-header {
        padding: 0;
        padding: 10px;
    }

    .job {
        color: black;
    }

    #jobDescModal {
        color: black;
        font-size: 15px;
        padding: 5px 10px;
    }

    .modal-content {
        max-width: 400px;
        margin: 40px auto;
    }

    /*==========================END OF MODAL - VIEW MORE============================*/


}