body{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}
.navbar-brand img {
    max-height: 50px;
}
.navbar {
    /* background-color: #0073aa; */
    background-image: linear-gradient(to right, #0073aa, #8000aa);
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
}
/*============================FOR MEDIA QUERIES=================================*/
/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {
    
    #home1,
    #about1,
    #freelanceOption,
    #freeLanceInbox {
        font-size: 18px;
        font-family: 'roboto', sans-serif;
        color: #f4f4f4;
    }
    
    #freelanceOption:hover {
        color: #ff6600;
    }
    
    #about1:hover {
        color: #ff6600;
    }
    
    #home1:hover {
        color: #ff6600;
    }
    
    #freeLanceInbox:hover {
        color: #ff6600;
    }
    #welcomeName:hover #welcomeName:hover{
        color: #ff6600;
    }
    #welcomeName{
        font-size: 18px;
    }
    
      
          /* Dropdown content (hidden by default) */
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            width: 190px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
          }
      
          /* Links inside the dropdown */
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
      
          /* Change color of dropdown links on hover */
          .dropdown-content a:hover {
            background-color: #0074aa95;
            color: rgb(255, 255, 255);
          }
      
          /* Show the dropdown menu on hover */
          .dropdown:hover .dropdown-content {
            display: block;
          }
    
 /* ================================================================================================================== */

    .mainContainer{
        background-color: #8000aa;
        display: flex;
        height: 90vh;
        width: 90%;
        margin: 15px auto;
    }

    /* -----Left Div----- */
    .left{
        margin: auto;
        height: 90%;
        width: 60%;
        background-color: #4adfa6;
    }

    /* -----Right Div----- */
    .right{
        margin: auto;
        height: 90%;
        width: 40%;
        background-color: #4aa8df;
    }
    .imgContainer{
        display: flex;
    }
    .imgProfile{
        margin: 0 auto;
        height: 150px;
    }
    
    .ratingContainer{
        display: flex;
    }
    .rating {
        margin: 0 auto;
    }
    
    .star {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('../css/star.png') no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    
    /*==========================FOR MODAL - VIEW MORE============================*/
    .modalTitles, .titles,
    #jobsAndRole {
        font-size: 30px;
        font-weight: 600;
        color: #0073aa;
        padding: 10px;
    }
    
    
    
    .modal-header {
        padding: 0;
        padding: 10px;
    }
    
    .job {
        color: black;
    }
    
    #jobDescModal {
        color: black;
        padding: 5px 10px;
    }
    
    /*==========================END OF MODAL - VIEW MORE============================*/
    #uploadedEditImage, 
    #uploadedEditImageCatalog, 
    #uploadedImageCatalog{
        margin-left: auto;
        margin-right: auto;
    }
    #uploadInputEdit{
        margin-left: 40px;
        margin-bottom: 10px;
    }
    
    /*==========================FOR MODAL - EDIT PROFILE============================*/
    
    
    /*==========================END OF MODAL - EDIT PROFILE============================*/
    
}
