body{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}


.navbar {
    background-image: linear-gradient(to right, #0073aa, #8000aa);
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
}

#home1,
#about1,
#freelanceOption,
#freeLanceInbox {
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    color: #f4f4f4;
}

#freelanceOption:hover {
    color: #ff6600;
}

#about1:hover {
    color: #ff6600;
}

#home1:hover {
    color: #ff6600;
}

#freeLanceInbox:hover {
    color: #ff6600;
}
#welcomeName:hover #welcomeName:hover{
    color: #ff6600;
}
#welcomeName{
    font-size: 18px;
}


      /* Dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        width: 190px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
  
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
  
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #0074aa95;
        color: rgb(255, 255, 255);
      }
  
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }

.navbar-brand img {
    max-height: 50px;
}

body {
    background-color: hsla(200, 57%, 85%, 0.275);
}


/*============================FOR MEDIA QUERIES=================================*/
/*============================ extra extra large  ===========================*/
@media (max-width: 5000px) {
    #container2{
        max-width: 80vw;
        height: 80vh;
        margin: 20px auto;
        background-color: #b4b4b4;
        border-radius: 20px 20px 0 0;
    }
    .menu_container{
        display: flex;
        background-color: #0073aa;
        border-radius: 20px 20px 0 0;
    }
    .tab_navigation{
        padding: 0;
        margin: 0;
        list-style: none;
        margin: 0 auto; 
    }
    .tab_navigation li{
        display: inline-block;
        background-color: #0073aa;
        font-size: 20px;
        margin-top: 20px;
        padding: 10px 20px;
        color: #f4f4f4;
        border-radius: 20px 20px 0 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    .tab_navigation li.active,
    .tab_navigation li:hover{
        background-color: #fafafa;
        border-radius: 20px 20px 0 0;
        color: #0073aa;
    }
    .tab_container_area{
        /*  */
    }
    .tab_container{
        display: none;
        margin: 0 auto;
        padding-top: 30px;
        height: 600px;
        width: 95%;
        background-color: #fafafa;
    }
}
/*============================ LAPTOP ===========================*/
@media (max-width: 1366px) {

}


/*============================ large  ===========================*/
@media (max-width: 1315) {

}


/*============================ medium  ===========================*/
@media (max-width: 768px) {}


/*============================ small  ===========================*/
@media (max-width: 576px) {

    


}